body{
    margin: 0;
    border: 1px solid black;
    background-color: chocolate;
    font-family: SansSerif, serif;
}

.head{
    align-content: center;
}

.content{
    margin: 0 auto;
    width: 400px;
}

table th td{
    border: 1px solid black;
    align-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    /*height: 30px;*/
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}