body{
    margin: 0;
    /*border: 1px solid black;*/
    background-color: burlywood;
    font-family: SansSerif, serif;

    /*background-image: linear-gradient(direction, color-stop1, color-stop2, ...);*/
    /*background-image: linear-gradient(to bottom right, #cdb4db,rebeccapurple, white, white, black);*/
}

.head{
    align-content: center;
}

.content{
    margin: 0 auto;
    width: 400px;
}

table th td{
    border: 1px solid black;
    align-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    /*height: 30px;*/
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}