<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='Boiler_Plate_Code.css') }}">
    {% if title %}
        <title></title>
    {% else %}
        <title>Default Page To Do Stuff</title>
    {% endif %}
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>