{% extends "Boiler_Plate_Code.html" %}

{% block head %}
    <h3 class="head">Hey! So what do you want to do today?</h3>
{% endblock head %}

{% block body %}
    <div class="content">

        <h1>TASK MANAGER</h1>
        <hr/>
        <hr/>

        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>

            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a href="/update/{{ task.id }}">Update</a>
                        <br>
                        <a href="/delete/{{ task.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

        <h5>Thank you for coming. Is there any other ask you'll like to add?
{#            <a href="", style="color: blue">Click here.</a>#}
        </h5>
        <hr/>
        <hr/>

        <form action="/" method="post">
            <label for="content"></label><input type="text" name="content" id="content" placeholder="Enter task here">
            <input type="submit" value="Add Task">
        </form>
    </div>

{% endblock body %}
